.modal-wrapper {
    position: fixed;
    inset: 0;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    max-width: 750px;
    min-width: 360px;
    width: 100%;
    background-color: var(--white);
    padding: 40px;
    border-radius: 4px;
    color: var(--black);
}

.modal-wrapper#visible {
    display: flex;
}